* {
    font-family: 'Varela Round', sans-serif;
}


label {
    margin-top: 10px;
}

table {
    border-spacing: 5px;
}

th, td {
    border: 2px solid #5d8d81;
    text-align: left;
    padding: 5px;
}

.user_prof {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    height: 200px;
}

#user_name {
    padding-right:95px;
}

.btn btn-success {
    background-color: #77c4d6; 
    color: aliceblue; 
    border: solid #77c4d6; 
    border-radius: 5px; 
    padding:5px;
    text-decoration: none;
}

.listbtn {
    background-color: #60b0c3;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.listbtn:hover {
    color:white;
}

#userview {
    padding: 40px;
    background-color: #fefefe;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.userbtn {
    background-color: #60b0c3;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin-top:5px;
    margin-left:30px;
}

.userbtn:hover {
    color: white;
}