* {
    font-family: 'Varela Round', sans-serif;
}


label {
    margin-top: 10px;
}

table {
    border-spacing: 5px;
}

th, td {
    border: 2px solid #5d8d81;
    text-align: left;
    padding: 5px;
}

.user_prof {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    height: 200px;
}

#user_name {
    padding-right:95px;
}

.btn btn-success {
    background-color: #77c4d6; 
    color: aliceblue; 
    border: solid #77c4d6; 
    border-radius: 5px; 
    padding:5px;
    text-decoration: none;
}

#footer {
    position:absolute;
    bottom: 0;
    width:100%;
}

#indexfooter {
    margin-top:20px;
    position:absolute;
    width:100%;
}

#subjfooter {
    margin-top:20px;
    position:absolute;
    width:100%;
}

.listbtn {
    background-color: #60b0c3;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.listbtn:hover {
    color:white;
}