{% extends '_layout.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<style>
    #userprof {
        display: none;
    }
</style>

<div class="container-fluid p-5 text-white text-center" style="background-color: #77c4d6;">
    <h1>Pakuranga College</h1>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col-sm-12">
            <h3 style="color: #60b0c3;">
                Option Selection Deadline
            </h3>
            <p>
                Current Y10 students must complete their 2023 subject selection by 3.15pm on <b>9th September</b>.
            </p>
            <h3 style="color: #60b0c3;">
                Year 10 Option Choices
            </h3>
            <p>
                All students in year 10 will learn the compulsory one-year course of:
                <ul>
                    <li>English</li>
                    <li>Mathematics</li>
                    <li>Science</li>
                    <li>Physical Education</li>
                    <li>Health</li>
                </ul>
                All students in year 10 learn the compulsory half year course of Social Science.
            </p>
            <p>
                Options: Year 10 students also choose from a range of subjects in two OR three other learning areas, according to their personal interest.
                <ul>
                    <li>Technology</li>
                    <li>The Arts</li>
                    <li>Languages</li>
                </ul>
                Languages are full year courses. If choosing a language student will select only one more course from a different learning area.
            </p>
            <br>
            <h3 style="color: #60b0c3;">
                Getting Started with Online Course Selection
            </h3>
            <p>
                It's good to involve your parents in the course selection process.  Remember courses selected because <q>my mates are doing it</q> do you no good at all.
            </p>
            <br>
            <h3 style="color: #60b0c3;">
                Your Careers Advisors are:
            </h3>
            <p>
                <ul>
                    <li>Mrs Fa'amalepe</li>
                    <li>Mrs Corlett</li>
                    <li>Miss O'Neill  (Acting Head of Department)</li>
                </ul>
            </p>
            <br>
            <div>
                <a href="static/images/Subject Flow Chart 2023 Final.pdf" target="_blank" class="btn btn-success" style="background-color:#60b0c3; border-color: #77c4d6; margin: 5px;">2023 Subject Flow Chart</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}