{% extends '_layout.html' %}

{% block title %} Subjects {% endblock %}

{% block content %}

<div class="container mt-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Subjects</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
            <tr>
                <td>{{ row.subject_name }}</td>
                {% if session['role'] == 'user' %}
                <td><a href="/addsub?subject_id={{ row.subject_id }}" onclick="return confirm('Add to subjects list?')" class="listbtn">Add subject</a></td>
                {% endif %}
                {% if session['role'] == 'admin' %}
                <td><a href="/admineditsub?subject_id={{ row.subject_id }}" class="listbtn">Edit</a></td>
                <td><a href="/admindeletesub?subject_id={{ row.subject_id }}" class="listbtn">Delete</a></td>
                <td><a href="/viewsub?subject_id={{ row.subject_id }}" class="listbtn">View students</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if session['role'] == 'admin' %}
<a href="{{ url_for('adminadd_subject') }}" class="listbtn" style="margin-left:20px;">Add subject</a>
{% endif %}

{% endblock %}