{% extends '_layout.html' %}

{% block title %} Subjects {% endblock %}

{% block content %}
<div class="container mt-3">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Subjects</th>
        </tr>
        </thead>
        <tbody>
            {% for row in result %}
            <tr>
                <td>{{ row.subject_name }}</td>
                {% if session['role'] == 'user' %}
                <td><a href="/addsub?subject_id={{row.subject_id}}" onclick="return confirm('Add to subjects list?')">Add subject</a></td>
                {% endif %}
                {% if session['role'] == 'admin' %}
                <td><a href="/admineditsub?subject_id={{row.subject_id}}">Edit</a></td>
                <td><a href="/admindeletesub?subject_id={{row.subject_id}}">Delete</a></td>
                <td><a href="/viewsub?subject_id={{ row.subject_id }}">View students</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if session['role'] == 'user' %}
<a href="{{ url_for('view_user', user_id=session['user_id']) }}">View your profile</a>
<br>
<a href="{{ url_for('selected_subjects', user_id=session['user_id']) }}">Selected subjects</a>
{% endif %}
<br>
{% if session['role'] == 'admin' %}
<a href="{{ url_for('adminadd_subject') }}">Add subject</a>
<br>
<a href="{{ url_for('list_users') }}">View all users</a>
{% endif %}

{% endblock %}