{% extends '_layout.html'%}

{% block title %} Edit profile {% endblock %}

{% block content %}

<div>
    <h2>Edit Profile</h2>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input class="form-control" type="hidden" name="user_id" value="{{ result.user_id }}">
            <input class="form-control" type="hidden" name="old_avatar" value="{{ result.avatar }}">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="first_name">First Name:</label>
            <div class="col-sm-10">
                <input class="form-control" id="first_name" name="first_name" type="text" value="{{ result.first_name }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="last_name">Last Name:</label>
            <div class="col-sm-10">
                <input class="form-control" id="last_name" name="last_name" type="text" value="{{ result.last_name }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
                <input class="form-control" id="email" name="email" type="email" value="{{ result.email }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="password">Password:</label>
            <div class="col-sm-10">
                <input class="form-control" id="password" name="password" type="password">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pic">Profile picture:</label>
            <div class="col-sm-10">
                <input class="form-control" id="pic" type="file" name="avatar" accept="image/*">
            </div>
        </div>
        <div>
            <
            
            src="{{ url_for('static', filename='images/' + (result.avatar or 'default.png')) }}">
        </div>
        <div class="form-group my-3">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Edit profile">
            </div>
        </div>
    </form>
</div>
<script>
    let fileInput = document.querySelector("#pic");
    let image = document.querySelector(".avatar");

    fileInput.addEventListener("change", updateImage);

    function updateImage() {
        image.src = URL.createObjectURL(fileInput.files[0]);
    }
</script>
{% endblock %}